version: '3.8'

services:
  web:
    
    build: 
      context: ./
    
      dockerfile: Dockerfile
    command: gunicorn truvavision.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/home/app/web/static
      
      
    expose:
    - 8000
    env_file:
      - ./.env.dev
  nginx:
    build: ./nginx
    volumes:
      - static_volume:/home/app/web/static
     
    ports:
      - 1337:80
    depends_on:
      - web
volumes:
  static_volume: